// COULEURS
$rouge: #FF2D55;
$vert: #7FAD3B;
$prairie: #9CD04E;
$bleu: #5AC8FA;
$royal: #007AFF;
$primary: #1EA9DF;
$bleu-prusse: #167093;
$jaune: #FFCC00;
$orange: #FF9500;
$rose: #FF2D55;
$gris: #8F8E94;
$gris-bleu: #9EB3BB;
$gris-clair: #E6E6E6;
$gris-pale: #EFEFEF;
$blanc-fonce: #F7F7F7;
$blanc: #FFFFFF;
$noir: #4A4A4A;
$noir_010: rgba(0, 0, 0, .1);
$noir_005: rgba(0, 0, 0, .05);
$wheel1: $prairie;
$wheel2: #FE485F;
$wheel3: #FDC24F;
$wheel4: #C784D5;
$wheel5: $primary;
$wheel6: #4A4A4A;
$wheel7: #554ED0;
$wheel8: $gris-bleu;
$wheel9: #EE7886;
$wheel10: #7D9FC7;
$wheel11: #ECA36A;
// FONTES
$f_blk: "Avenir-Black";
$f_boo: "Avenir-Book";
$f_hea: "Avenir-Heavy";
$f_med: "Avenir-Medium";
// DIMENSIONS
$footer-height: 60px;