.container {
    height: calc(100% - 60px);
}
.MainZone {
    height: calc(100% - 140px);
    width: 100%;
    padding: 0 30px;
}
.tempcont {

    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    vertical-align: top;

    font-family: $f_boo;
    font-size: 30px;
    text-align: center;
}
* {
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    &.swal2-height-auto {
        height: 100% !important;
    }
}
.LoadingSpinner {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.clearfix {
    &::before,
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}