.Cloture {
  .contimage {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .MainZone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .clo-gauche,
  .clo-centre,
  .clo-droite {
    width: 30%;
    height: 100%;
  }
  .clo-centre {
    width: 38%;
    font-family: $f_boo;
    font-size: 12px;
    @include font-smoothing(on);

   
  }

  .blocgauche,
  .bloccentre,
  .blocdroite {
    background-color:$blanc;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.10);
    border-radius: 15px;
    width: 100%;
    height: calc(100% - 60px);
  }
  .bloccentre {
    box-shadow: none;
    height: 100%;
    border: 1px dashed $noir;
    padding: 20px;

    overflow-y: scroll;

    .wrapper {
      height: 100%;
      width: 100%;
    }
    .periode {
      .val {
        text-align: center;
      }
      padding-bottom: 10px;
    }
    .sel {
      padding-bottom: 10px;
    }

    .recap {
      .recap-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      padding-bottom: 10px;
    }

    .titre {
      text-align: center;
      border-top: 1px solid $noir;
      border-bottom: 1px solid $noir;
      padding: 5px 0;
      margin: 10px 0 5px;
    }
    .detail {
      .detail-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        &.pre-filet {
          margin-top: 5px;
          padding-top: 5px;
          border-top: 1px solid $noir;
        }
        &.post-space {
          padding-bottom: 10px;
        }
        &.total {
          padding-left: 20px;
        }
      }
    }
    .ventil {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .ventil-nom,
      .ventil-intit:nth-child(1) {
        width: 30%;
      }
      &.total {
        padding-top: 10px;
      }
      &.intit {
        padding-bottom: 5px;
      }
    }

  }
  .btnreprint {
    position: absolute;
    width: 200px;
    left: 70px;
    top: 240px;
    background-color: $gris-bleu;
    z-index: 1;
  }
  .btncomptage {
    position: absolute;
    width: 235px;
    left: 50px;
    bottom: 160px;
    background-color: $vert;
    height: 45px;
    z-index: 1;
  }
  .btnx {
    position: absolute;
    width: 235px;
    left: 50px;
    bottom: 75px;
    background-color: $gris-bleu;
    height: 45px;
    z-index: 1;
  }
  .btncloture {
    position: absolute;
    width: 235px;
    right: 50px;
    bottom: 75px;
    background-color: $gris-bleu;
    height: 45px;
    z-index: 1;
  }
}
.ClotureComptage,
.ClotureComptcaisse {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  .Modal-container {
      background-color: $blanc;
      width: 900px;
      border-radius: 15px;
      padding: 0 20px;
  }
  .close-button {
      background-color: $blanc;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      min-height: 30px;
  }
  .close-button {
    background-color: $blanc;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    min-height: 30px;
  }
  .header {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
        font-family: $f_blk;
        font-size: 18px;
        color: $noir;
        text-align: center;
        text-transform: uppercase;
    }
  }
  .btncomptcaisse {
    position: absolute;
    bottom: 30px;
    left: 50px;
    width: 195px;
    background-color: $vert !important;
    .MuiButton-label {
      padding: 0 25px;
    }
  }
  .btncomptverif {
    position: absolute;
    bottom: 30px;
    right: 50px;
    width: 215px;
    background-color: $rouge !important;
    .MuiButton-label {
      padding: 0 25px;
    }
  }
}
.ClotureComptage {
  .blocbg {
    position: absolute;
    right: 30px;
    top: 116px;
    background-color: transparent;
    border-radius: 15px;
    width: 265px;
    height: calc(100% - 130px);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.10);

  }
}
.ClotureComptcaisse .Modal-container {
  width: 800px;
  .footer {
    text-align: center;
    padding-bottom: 10px;
  }
}
.btncomptcaisseverif {
  background-color: $vert !important;
  .MuiButton-label {
    padding: 0 25px;
  }
}