
.CloturesHome {

  .CloturesHome-sommaire {

    .titre {
      display: block;
      width: 100%;
      text-align: center;
      font-family: $f_blk;
      color: $noir;
      font-size: 20px;    padding-bottom: 50px;


      .LargeButton {

        background-color: #FE485F;
        .LargeButton-icon {
            background-image: url('./../../images/ico_cloture.svg');
        }
     }

    }

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    height: 100%;
  }


  .sommaire-item {
    text-align: center;
    width: 30%;
    padding: 5px 0;
    .LargeButton {
      background-color: $primary;
      .LargeButton-text {
        color: $noir;
      }
    }
  }

}

.Cloture {
  &.container {
    height: 100%;
  }
  .contimage {
    width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }

  .MainZone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
    padding: 0;
  }

  .processing {
    font-family: $f_blk;
    font-size: 20px;
    color: $noir;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100px);
  }

  .clo-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding-bottom: 15px;

    .btnretour {
      flex-grow: unset;
      flex-shrink: unset;
      background-color: $gris-bleu;
      .StdButton-text {
        text-decoration: underline;
        color: $blanc;
      }
    }


    .zone-selecteur {
      display: flex;
      flex-direction: row;
      .selecteur-caisse,
      .selecteur-vendeur {
        min-width: 150px;
        margin: 0 20px 0 10px;
      }
      
      .label {
        font-family: $f_blk;
        font-size: 14px;
        color: $noir;
        padding: 15px 0 5px;
      }
      .selecteur {
        background-color: $gris-clair;
        font-family: $f_boo;
        font-size: 14px;
        color: $noir;
        line-height: 0.1em;
        .MuiOutlinedInput-input {
          padding: 15px 15px;
        }
        .MuiSelect-root {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }

    .periode {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      .titre {
        font-family: $f_blk;
        font-size: 20px;
        color: $noir;
        width: 100%;
      }
      .dates {
        font-family: $f_med;
        font-size: 16px;
        color: $noir;
      }
    }

  }

  .clo-main {
    background-color:$blanc;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.10);
    border-radius: 15px;
    width: 100%;
    height: calc(100% - 60px);
    overflow-y: auto;
    padding: 10px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }


  .clo-gauche {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 240px);
    height: 100%;
    padding-bottom: 10px;
  }

  .clo-gauche-top,
  .clo-gauche-btm {
    width: 100%;
  }

  .cptitem {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 0;

    .item-label {
      font-family: $f_blk;
      font-size: 13px;
      color: $blanc;
      background-color: $vert;
      width: 70px;
      height: 55px;
      border-radius: 5px 0px 0px 5px;
      padding: 2px 0px 5px;
      display: inline-flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      line-height: 0.9em;
    }
    &.cptitem-esp .item-label .MuiSvgIcon-root,
    &.cptitem-chq .item-label .MuiSvgIcon-root {
      margin-top: 8px;
    }
    &.cptitem-avr .item-label .MuiSvgIcon-root {
      width: 16px;
    }

    .valeur-static {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-family: $f_blk;
      font-size: 18px;
      width: 100px;
      height: 55px;
      color: $vert;
      border-radius: 0px 5px 5px 0px;
      box-shadow: inset 0 0 0 3px $vert;
    }


    .valeur-input {
      width: 140px;
      margin-left: 10px;
      .label {
        width: 100%;
        font-family: $f_blk;
        font-size: 12px;
        color: $primary;
        padding: 0px 5px; 
        height: 17px;
        border-radius: 5px 5px 0px 0px;
        box-shadow: inset 0 0 0 2px $primary;
      }
      
      .input {
        width: 100%;
        height: 38px;
        border-radius: 0px 0px 5px 5px;
        background-color: $primary;
        padding: 0 10px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;

        font-family: $f_blk;
        font-size: 18px;
        color: $blanc;
        
        background-image: url('../../images/ico_edit-blanc.svg');
        background-size: 18px 18px;
        background-position: 10px center;
        background-repeat: no-repeat; 
      }
    }

    .ecart {
      height: 55px;
      width: 100px;
      font-family: $f_blk;
      font-size: 15px;
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      color: $noir;
    }

    .motif {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: calc(100% - 430px);
      height: 55px;
      border-radius: 5px;
      background-color: $blanc-fonce;
      background-image: url('../../images/ico_edit.svg');
      background-size: 18px 18px;
      background-position: 10px center;
      background-repeat: no-repeat; 

      font-family: $f_med;
      font-size: 14px;
      text-transform: uppercase;
      color: $noir;
    }

    &.error {
      .item-label {
        background-color: $rouge;
      }
      .valeur-static {
        color: $rouge;
        box-shadow: inset 0 0 0 2px $rouge;
      }
      .valeur-input {
        .label {
          color: $rouge;
          box-shadow: inset 0 0 0 2px $rouge;
        }
        .input {
          background-color: $rouge;
        }
      }
      .ecart {
        color: $rouge;
      }
    }
    &.warning {
      .item-label {
        background-color: $orange;
      }
      .valeur-static {
        color: $orange;
        box-shadow: inset 0 0 0 2px $orange;
      }
      .valeur-input {
        .label {
          color: $orange;
          box-shadow: inset 0 0 0 2px $orange;
        }
        .input {
          background-color: $orange;
        }
      }
      .ecart {
        color: $orange;
      }
    }
  }
  
  .cptitem-caption {
    font-family: $f_blk;
    font-size: 16px;
    color: $noir;

    .balance-label {
      width: 320px;
    }
    .ecarts-label {
      width: 100px;
      text-align: center;
    }
    .motif-label {
      width: 275px;
    }
  }

  .total-fdc,
  .total-encaissement,
  .total-caisse {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5px;
    label {
      font-family: $f_med;
      font-size: 15px;
      color: $noir;
      width: 175px;
    }
    .input {
      font-family: $f_blk;
      font-size: 20px;
      color: $primary;
      width: 135px;
      text-align: right;
    }
  }
  .total-caisse {
    background-image: linear-gradient($noir 0%, $noir 100%);
    background-repeat: no-repeat;
    background-size: 320px 1px;
    background-position: left top;
    padding-top: 5px;
  }


  .clo-droite {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 230px;
    height: 100%;
    padding-top: 30px;
  }
  .clo-droite-top,
  .clo-droite-mid,
  .clo-droite-btm {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .btncompttr,
  .btncomptcaisse {
    width: 100%;
    background-color: $vert;
  }
  .btncomptage {
    width: 100%;
    background-color: $vert;
    height: 45px;
  }
  .btncloture {
    width: 100%;
    background-color: $rouge;
    height: 45px;
  }
}

.clo-droite-mid {
  .prelevementField {
    width: 100%;
  }
  .valeur-input {
    width: 100%;
    margin-bottom: 20px;
    box-shadow: inset 0 0 0 1px $noir;
    border-radius: 5px;
    label {
      font-family: $f_blk;
      font-size: 13px;
      color: $noir;
      padding: 3px;
    }
    .input {
      width: 100%;
      text-align: right;
      padding-right: 5px;
      font-family: $f_blk;
      padding-bottom: 3px;
    }
    &.editable {
      box-shadow: none;

      label {
        padding: 0;
      }
      .input {
        background-image: url('../../images/ico_edit-blanc.svg');
        background-size: 18px 18px;
        background-position: 10px center;
        background-repeat: no-repeat;  
        background-color: $primary;
        color: $blanc;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        font-size: 20px;
        border-radius: 5px;
        height: 45px;
      }
    }
  }
}



.ClotureComptage,
.CountTool,
.ClotureComptcaisse {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  .Modal-container {
      background-color: $blanc;
      width: 900px;
      border-radius: 15px;
      padding: 0 20px;
  }
  .close-button {
      background-color: $blanc;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      min-height: 30px;
  }
  .close-button {
    background-color: $blanc;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    min-height: 30px;
  }
  .header {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
        font-family: $f_blk;
        font-size: 18px;
        color: $noir;
        text-align: center;
        text-transform: uppercase;
    }
  }
  .btncomptcaisse {
    width: calc(100% - 10px);
    background-color: $vert !important;
    .MuiButton-label {
      padding: 0 25px;
    }
  }
  .btncompttr {
    width: calc(100% - 10px);
    background-color: $vert !important;
    .MuiButton-label {
      padding: 0;
    }
  }
  .btncomptverif {
    width: 100%;
    background-color: $rouge !important;
    .MuiButton-label {
      padding: 0 25px;
    }
  }
}
.ClotureComptage {
  .blocbg {
    position: absolute;
    right: 30px;
    top: 116px;
    background-color: transparent;
    border-radius: 15px;
    width: 265px;
    height: calc(100% - 130px);
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.10);

  }
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0 20px;
    height: 500px;
  }



  .selecteur {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    .selecteur-caisse,
    .selecteur-vendeur {
      width: 250px;
    }
    .label {
      font-family: $f_blk;
      font-size: 14px;
      color: $noir;
      //width: 100%;
      padding: 0 10px 0;
    }
    .selecteur-sel {
      background-color: $gris-clair;
      font-family: $f_boo;
      font-size: 14px;
      color: $noir;
      width: 100%;
      line-height: 0.1em;
      .MuiOutlinedInput-input {
        padding: 15px 15px;
      }
    }
    .selecteur-cnt + .label {
      padding-left: 50px;
    }
  }
  .bloc {
    padding: 15px;
    border-radius: 15px;
    background-color: $blanc-fonce;
    width: 31%;
    .bloctitre {
      font-family: $f_blk;
      font-size: 16px;
      text-align: center;
      height: 70px;
    }
    .cptitem {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: content-box;
      height: 35px;
      &+.cptitem {
        padding-top: 5px;
      }
      .label {
        font-family: $f_med;
        font-size: 14px;
        color: $noir;
        line-height: 35px;
        &:before {
          content: '-';
          font-family: $f_blk;
          font-size: 16px;
          color: $noir;
          position: relative;
          display: inline-block;
          width: 15px;
          text-align: center;
          left: 0;
          margin-right: 10px;
        }
      }
      .valeur {
        font-family: $f_blk;
        font-size: 14px;
        color: $primary;
        line-height: 35px;
      }
      .btn {
        width: 24px;
        min-height: 24px;
        height: 24px;
        margin-left: 10px;
        svg {
          color: $primary;
        }
      }
    }
  }
  .bloc-especes {
    .cptitem-fdc,
    .cptitem-dep,
    .cptitem-remb,
    .cptitem-mnt {
      .valeur {
        padding-right: 34px;
      }
    } 
    .cptitem-fdc,
    .cptitem-mnt {
      .label:before {
        display: none;
      }
    }

    .cptitem-esp .label:before {
      content: '+';
    }
    .cptitem-mnt {
      margin-top: 10px;
      padding-top: 20px !important;
      border-top: 1px solid $noir;
    }
  }
  .bloc-toutes {

    .cptitem-total,
    .cptitem-esp,
    .cptitem-rec,
    .cptitem-avre {
      .valeur {
        padding-right: 34px;
      }
    } 
    .cptitem-cb,
    .cptitem-tr,
    .cptitem-chq,
    .cptitem-total,
    .cptitem-rec,
    .cptitem-avrr {
      .label:before {
        display: none;
      }
    }

    .cptitem-total {
      margin-top: 20px;
    }
    .cptitem-esp .label:before {
      content: '+';
    }
    .cptitem-rec {
      margin-top: 10px;
      padding-top: 20px !important;
      border-top: 1px solid $noir;
    }
  }
  .bloc-saisie {
    background-color: $blanc;
    box-shadow: $boxshadow;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .cptitems-liste {
      padding-bottom: 20px;
    }
    .cptitem {
      .label:before {
        display: none;
      }
      .valeur {
        background-color: $blanc-fonce;
        border-radius: 5px;
        width: 130px;
        padding: 0 5px;
        text-align: right;
      }
      &.cptitem-error {
        .label, .valeur {
          color: $rouge;
        }
      }
    }
  }

}
.ClotureComptcaisse .Modal-container {
  width: 800px;
  .footer {
    text-align: center;
    padding-bottom: 10px;
  }
}
.btncomptcaisseverif {
  background-color: $vert !important;
  .MuiButton-label {
    padding: 0 25px;
  }
}
.MuiMenuItem-root {
  font-family: $f_boo !important;
  font-size: 14px !important;
}

.swal2-container {
  .differenterror,
  .standbycommandes {
    .swal2-actions {
      flex-direction: column;
      justify-content: flex-end;
      height: 110px;
      button {
        border-radius: 12px;
        height: 50px;
        width: 220px;
        color: $blanc;
        &.swal2-confirm {
          background-color: $rouge;
        }
        &.swal2-cancel {
          background-color: $bleu;
        }
      }
    }
  }
}

.CountTool,
.CountTRTool {
  // position: absolute;

  // display: none;
  // &.counttool-open,
  // &.counttrtool-open {
  //   display: block;
  // }
  
  // width: 100%;
  // height: 100%;
  // top: 0;
  // left: 0;
  // background-color: $blanc;
  // border-radius: 15px;
  // .tete {
  //   height: 50px;
  //   line-height: 50px;
  //   text-align: center;
  //   .titre {
  //     font-family: $f_blk;
  //     font-size: 16px;
  //     color: $noir;
  //   }
  // }
  .body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 20px;
    .colonne {
      background-color: $blanc-fonce;
      border-radius: 15px;
      padding: 30px 60px;
      display: flex;
      flex-direction: column;
      width: calc(50% - 10px);
      & + .colonne {
        justify-content: space-between;
      }
      .champ {
        height: 35px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &+.champ {
          margin-top: 10px;
        }
        .nom {
          font-family: $f_boo;
          font-size: 14px;
          color: $noir;
          width: 80px;
          line-height: 35px;
        }
        .field {
          background-color: $blanc;
          width: 100px;
          border-radius: 5px;
          text-align: right;
          padding: 0 5px;
          font-family: $f_boo;
          color: $gris;
          font-size:14px;
          line-height: 35px;
        }
        .subtotal {
          text-align: right;
          padding: 0 5px;
          font-family: $f_med;
          font-size: 14px;
          line-height: 35px;
          width: 100px;
        }
        &.filled {
          .field {
            font-family: $f_med;
            color: $noir;
          }
          .subtotal {
            font-family: $f_blk;
            color: $primary;
          }
        }
      }
      .counttotal {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .ttl {
          font-family: $f_blk;
          font-size: 16px;
          color: $noir;
        }
        .val {
          font-family: $f_blk;
          font-size: 20px;
          color: $primary;
        }
      }
    }
  }
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    .btnvalidcounttool,
    .btnvalidcounttrtool {
      background-color: $vert;
      width: 250px;
    }
  }
}

.CountTRTool {
  .corps {
    height: calc(100% - 105px);
  }
  .MuiTableContainer-root {
    position: relative;
    height: 100%;
  }
  .liste {
    margin-left: 50px;
    width: calc(100% - 100px);
    background-color: $blanc-fonce;
    border-radius: 10px;
    .liste-body {
      height: calc(100% - 110px);
      width: 100%;
      overflow-y: scroll;
    }
    .liste-wrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
    }
    .head-id,
    .prix,
    .body-id,
    .footer-id {
      padding: 0 20px;
    }
    .liste-row {
      border-bottom: 1px solid $blanc;
    }

    .liste-head {
      border-bottom: 1px solid $noir_030;
    }
    .liste-footer {
      border-top: 1px solid $noir_030;
    }
    
    .liste-head,
    .liste-row,
    .liste-footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 55px;
      width: 100%;
      font-family: $f_blk;
      font-size: 14px;
      color: $noir;
    }

    .liste-row {
      font-family: $f_med;
      height: 40px;
    }
  }
  .prix {
    text-align: right;
  }
  .tr-input {
    opacity: 0;
    position: absolute;
    right: 30px;
    top: 120px;
    outline: none;
    user-select: none;
  }
}

.MotifModal {
  
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  .Modal-container {
      background-color: $blanc;
      width: 300px;
      border-radius: 15px;
      padding: 0 20px;
  }
  .close-button {
      background-color: $blanc;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      min-height: 30px;
  }
  .header {
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
          font-family: $f_blk;
          font-size: 18px;
          color: $noir;
          text-align: center;
          text-transform: uppercase;
      }
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 30px;
    .motif-item {
      font-family: $f_med;
      font-size: 14px;
      text-transform: uppercase;
      color: $noir;
      background-color: $gris-clair;
      width: 250px;
      height: 35px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 2px;
      border-radius: 3px;
      cursor: pointer;
      &.delete {
        background-color: $rouge;
        color: $blanc;
      }
    }
  }
}


@import './Tresorerie';