.Pointeuse {


  .back-button {
    background-color: $blanc;
  }

  .jour {
    font-family: $f_hea;
    font-size: 30px
  }
  .heure {
    font-family: $f_blk;
    font-size: 80px;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
  }
  .boutons {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .LargeButton {
    &.btnarrivee {
      background-color: $vert;
      .LargeButton-text {
        font-size: 25px;
      }
    }
    &.btndepart {
      background-color: $rouge;
      .LargeButton-text {
        font-size: 25px;
      }
    }
    &.btnchange{
      background-color: $gris-bleu;
      height: 50px;
      width: 250px;
  
    }
  }
}

.ValidationPointage {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  .Modal-container {
    background-color: $blanc;
    width: 690px;
    border-radius: 15px;
    padding: 0 20px 30px;
  }
  .close-button {
    background-color: $blanc;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 30px;
    height: 30px;
    min-height: 30px;
  }
  .header {
    height: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .title {
        font-family: $f_blk;
        font-size: 18px;
        color: $noir;
        text-align: center;
        text-transform: uppercase;
    }
  }
  .body {
    .soustitre {
      font-family: $f_blk;
      font-size: 15px;
      color: $noir;
      text-align: center;
    }
  }
}