.Panier {
    display: inline-block;
    position: relative;
    margin-left: 14px;
    width: 300px;
    height: 100%;
    vertical-align: top;

    background-color: $blanc;
    border-radius: 15px;
    padding: 10px;

    .search-input {
        position: absolute;
        right: 30px;
        top: 120px;
        outline: none;
        opacity: 0;
        user-select: none;
      }

    &.reglement-ouvert {
        z-index: 1301;
    }

    .header {    
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 20px;
        .ticketId {
            font-family: $f_med;
            font-size: 12px;
            color: $noir;
            padding: 5px;
            user-select: none;
        }
        .ticketComment {
            float: right;
        }
        .ticketClient {
            cursor: pointer;
            .client-set {
                fill: $vert;
            }
        }
        .bipper {
            margin-top: -5px;
            .ico-bipper {

                height: 20px;
                cursor: pointer;
                
                &.bipper-set {
                    fill: $vert;
                }
                
                svg {
                    width: auto;
                    height: 100%;
                }
            }
        }
        .schedule {
            .ico-schedule {
                
                height: 20px;
                cursor: pointer;
                
                &.schedule-set {
                    fill: $vert;
                }
                
                svg {
                    width: auto;
                    height: 100%;
                }
            }

        }
    }

    .body {
        height: calc(100% - 165px);
        .PanierListe {
            height: 100%;
        }
        .Liste {
            background-color: $blanc-fonce;
            padding:5px;
            border-radius: 5px;
            height: calc(100% - 30px);
            .liste-header {
                background-color: $gris-clair;
                border-radius: 2px;
                .lhdr {
                    font-family: $f_med;
                    font-size: 13px;
                    color: $noir;
                    display: inline-block;
                    padding: 5px 10px;
                    text-align: center;
                }
                .lhdr-nom {
                    width: 150px;
                    text-align: left;
                    user-select: none;
                }
                .lhdr-quantite {
                    width: 40px;
                    padding: 5px 6px;
                    background-color: $noir_005;
                    user-select: none;
                }
                .lhdr-prix {
                    width: 80px;
                    user-select: none;
                }
            }
            .wrapper {
                height: calc(100% - 82px);
                overflow-y: scroll;
                background: linear-gradient($noir_005 0%, $noir_005 100%);
                background-size: 40px 100%;
                background-repeat: no-repeat;
                background-position: 150px 0;
            }
            .tools {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding: 5px 10px;
                .tool {
                    background-color: $blanc;
                }
            }
        }
        .total {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 5px 10px 5px;
            .intitule {
                font-family: $f_hea;
                font-size: 18px;
                color: $noir;
                user-select: none;
            }
            .montant {
                font-family: $f_hea;
                font-size: 18px;
                color: $noir;
                text-align: right;
                user-select: none;
            }
        }
    }

    .modes {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .mode {
            width: 29%;
            background-color:$gris-bleu;
            &.active {
                background-color: $rouge;
            }
        } 
    }
    .actions {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;



        &.with-staffmeal {
            .action {
                width: 25%;
            }
            .StdButton {
                margin: 3px 3px !important;
            }
            .action-encaisser {
                width: 100%;
            }

            .action-staffmeal {
                background-color: $primary;
                &.activated {
                    background-color: $orange;
                    .MuiTouchRipple-root {
                        background: linear-gradient(-45deg, transparent 47%, red 48%, red 52%, transparent 53%), linear-gradient(45deg, transparent 47%, red 48%, red 52%, transparent 53%);
                    }
                }
                width: 15px;
                min-width: 45px;
                padding: 1px 0 !important;
                .StdButton-icon {
                    display: inline-flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    .MuiSvgIcon-root {
                        margin-bottom: 5px;
                    }
                }
            }
        }
        &:not(.with-staffmeal) {
            
            .action {
                width: 29%;
            }
            .StdButton {
                margin: 3px 5px !important;
            }
            .action-encaisser {
                width: 100%;
            }
        }
        .action-encaisser {
            background-color: $prairie;
            width: 100%;
            min-height: 45px;
            .StdButton-text {
                font-family: $f_blk;
                font-size: 18px;
                text-transform: uppercase;
            }
        }
        .action-mid {
            width: 46% !important;
            .StdButton-text {
                font-size: 15px;
            }
        }
        .action-valider {
            background-color: $bleu;
            min-height: 45px;
            .StdButton-text {
                font-family: $f_blk;
                font-size: 15px;
                text-transform: uppercase;
            }
        }
        .action-tiroir {
            background-color: $noir;
        }
        .action-attente {
            background-color: $jaune;
        }
        .action-reprise {
            background-color: $jaune;
        }
    }


    .PanierListeItem {
        .MuiButtonBase-root {
            padding: 0 !important;
            flex-wrap: wrap;
          //  display: table-row;
        }
        .litm,
        .lsitm {
            font-family: $f_med;
            font-size: 13px;
            color: $noir;
            display: table-cell;
            padding: 7px 10px;
            text-align: center;
            vertical-align: middle;
        }
        .litm.row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .lsitm {
            font-family: $f_med;
            font-size: 12px;
            color: $noir;
        }
        .MuiListItem-root.Mui-selected {
            background-color: $primary;
            .litm {
                font-family: $f_hea;
                color: $blanc;
            }
        }
        .nom {
            width: 140px;
            text-align: left;
            box-sizing: border-box;
            user-select: none;
        }
        .quantite {
            box-sizing: border-box;
            width: 40px;
            padding: 0px 6px;
            text-align: right;
            //  background-color: $noir_005;
            position: relative;
            user-select: none;
            &:before {
                content: '\00d7';
                display: inline-block;
                position: absolute;
                padding-left: 5px;
                padding-right: 3px;
                left: 3px;
            }
        }
        &.PanierListeItem-frais {

            .MuiListItem-root {
                background-color: $rouge;
                border-radius: 15px;
                .litm {
                    font-family: $f_hea;
                    color: $blanc;
                }
            }
            .quantite:before {
                content: '';
            }
        }
        .prix {
            box-sizing: border-box;
            width: 50px;
            text-align: right;
            user-select: none;
        }
        .lsitm.row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
        }
        .litm-comment,
        .lsitm-comment {
            box-sizing: border-box;
            width: 100%;
            text-align: center;
            background-color: $blanc-fonce;
            background-image: linear-gradient($gris-clair 0%, $gris-clair 100%);
            background-repeat: no-repeat;
            background-size: 50% 1px;
            background-position: center bottom;
            font-family: $f_boo;
            color: $noir;
            margin-top: -5px;
            padding-bottom: 5px;
            font-size: 12px;
            position: relative;
            .cmtdel {
                position: absolute;
                top: 50%;
                margin-top: -9px;
                right: 0;
                height: 17px;
                width: 20px;
                cursor: pointer;
                svg {
                    width: auto;
                    height: 18px;
                    padding: 0;
                    margin: 0;
                }
            }
        }
        .lsitm-compo {
            .nom {
                font-family: $f_med;
                color: $gris-fonce;
                font-style: italic;
            }
        }
        .ingredients-list {
            display: table;
            width: 100%;
            padding: 0;
            .nom {
                padding-left: 20px
            }
        }
    }
    .separateur {
        height: 10px;
    }
    .discount {
        border-radius: 18px;
        background-color: $prairie;
        padding: 3px 20px;
        .MuiTypography-body1 {
            font-size: 16px;
            font-family: $f_hea;
        }
        & + .MuiListItemSecondaryAction-root {
            display: inline-flex;
            flex-direction: row;
            padding-right: 5px;
            .MuiTypography-body1 {
                font-size: 16px;
                font-family: $f_hea;
            }
            .MuiListItemIcon-root {
                width: 37px;
                min-width: auto;
                justify-content: center;
                align-items: center;
            }
            .MuiListItemText-root {
                width: 65px;
                text-align: right;
            }
        }
        &.panier-discount {
            padding: 3px 10px;
            .MuiListItemSecondaryAction-root {
                right: 10px;
            }
        }
        &.item-discount {
            background-color: $bleu;
            margin-left: 15px;
            width: calc(100% - 15px);

            .MuiTypography-body1 {
                font-size: 14px;
                font-family: $f_boo;
            }

            & + .MuiListItemSecondaryAction-root {
                .MuiTypography-body1 {
                    font-size: 14px;
                    font-family: $f_boo;
                }
            }
        }
        &.type-frais {
            background-color: $rouge;
            color: $blanc;
            & + .MuiListItemSecondaryAction-root .MuiTypography-body1 {
                color: $blanc;
            }
        }
    }
}


&.encaissement-narrow .Panier {
    margin-left: 5px;
}