
    .Selecteur {
        display: inline-block;
        position: relative;
        height: 100%;
        width: calc(100% - 315px);
    }
    .TabBar {
        width: 215px;
        display: inline-block;
        height: 100%;
        position: relative;
        
        .btn-up,
        .btn-down {
            border: none;
            border-radius: 15px 0 0 15px;
            background-color: $gris-pale;
            height: 70px;
            width: 200px;
            height: 45px;
            background-image: url('../../images/ico_arrow-up.svg');
            background-size: 16px 8px;
            background-position: center center;
            background-repeat: no-repeat;
            position: absolute;
            top: 0;
            left: 0;
            cursor: pointer;
        }
        .btn-down {
            background-image: url('../../images/ico_arrow-down.svg');
            top: auto;
            bottom: 0;
        }
        .wrapper {
            height: 100%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .tab-link {
        border: none;
        border-radius: 15px 0 0 15px;
        background-color: $gris-pale;
        height: 70px;
        width: 215px;
        margin-bottom: 2px;
        outline: none;

        font-family: $f-hea;
        font-size: 18px;
        color: $noir;
        text-align: center;
        text-transform: uppercase;
        cursor: pointer;
        &.tab-link-active {
            background-color: $blanc;
            color: $primary;
            cursor: default;
            font-family: $f_blk;
            box-shadow: 0 5px 12px 0 $noir_005;
        }
    }
    .TabCont {
        display: inline-block;
        vertical-align: top;
        margin-left: -15px;
        width: calc(100% - 200px);
        height: 100%;
        position: relative;
        background-color: $blanc;
        border-radius: 15px;
        padding: 10px;

        .wrapper {
            height: 100%;
            overflow-y: scroll;
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    .ProduitBtn {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        width: calc(33% - 6px);
        height: 90px;
        border-radius: 15px;
        color: $blanc;
        font-family: $f_blk;
        font-size: 15px;
        vertical-align: top;
        text-transform: uppercase;
        box-sizing: border-box;
        padding: 5px;
        margin: 3px 3px 3px;
        box-shadow: inset 0 0 0 3px $blanc, 0px 3px 5px -1px rgba(0,0,0,0.2), 0px 6px 10px 0px rgba(0,0,0,0.14), 0px 1px 18px 0px rgba(0,0,0,0.12);
        cursor: pointer;
        // span {
        //     display: block;
        // }

        div.btnlabel {
            user-select: none;
            text-align: center;
            line-height: 1.0em;
            div.supplt {
            padding-top: 7px;
            }
        }
        // div {
        //     line-height: 1.0em;
        //     &+div {
        //         padding-top: 7px;
        //     }
        // }
        &:nth-child(7n+1) {
            background-color: $wheel1;
        }
        &:nth-child(7n+2) {
            background-color: $wheel2;
        }
        &:nth-child(7n+3) {
            background-color: $wheel3;
        }
        &:nth-child(7n+4) {
            background-color: $wheel4;
        }
        &:nth-child(7n+5) {
            background-color: $wheel5;
        }
        &:nth-child(7n+6) {
            background-color: $wheel6;
        }
        &:nth-child(7n) {
            background-color: $wheel7;
        }

        &.blanc       { background-color: $prdcol_blanc; }
        &.bleuclair   { background-color: $prdcol_bleuclair; }
        &.bleufonce   { background-color: $prdcol_bleufonce; }
        &.gris        { background-color: $prdcol_gris; }
        &.jaune       { background-color: $prdcol_jaune; }
        &.jauneorange { background-color: $prdcol_jauneorange; }
        &.marron      { background-color: $prdcol_marron; }
        &.noir        { background-color: $prdcol_noir; }
        &.orange      { background-color: $prdcol_orange; }
        &.rose        { background-color: $prdcol_rose; }
        &.rouge       { background-color: $prdcol_rouge; }
        &.vertclair   { background-color: $prdcol_vertclair; }
        &.vertfonce   { background-color: $prdcol_vertfonce; }
        &.violet      { background-color: $prdcol_violet; }

        &.blanc, &.bleuclair, &.gris, &.jaune, &.jauneorange, &.orange, &.rose, &.vertclair {
            color: $noir;
        }
        &.bleufonce, &.marron, &.noir, &.vertfonce, &.violet, &.rouge {
            color: $blanc;
        }
      
        &.btn-disabled {
          cursor: default;
          color: $noir;
          background-color: $gris;
        }
    }