.ScheduleModal {


  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  .Modal-container {
      background-color: $blanc;
      width: 500px;
      border-radius: 15px;
      padding: 0 20px;
  }
  .close-button {
      background-color: $blanc;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      min-height: 30px;
  }
  .header {
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
          font-family: $f_blk;
          font-size: 18px;
          color: $noir;
          text-align: center;
          text-transform: uppercase;
      }
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 30px;

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      width: 100%;
      .label {
        font-family: $f_boo;
        font-size: 14px;
        color: $noir;
        padding-right: 10px;
        -webkit-user-select: none;
        user-select: none;
        display: inline-block;
      }
      .valeur {
        width: 100%;
        font-family: $f_blk;
        font-size: 14px;
        color: $noir;
        -webkit-user-select: none;
        user-select: none;
        display: inline-block;
        .MuiTextField-root {
          width: 100%;
        }
      }
      .caption {
        font-family: $f_boo;
        font-size: 13px;
        width: 100%;
        text-align: right;
        color: $noir;
        -webkit-user-select: none;
        user-select: none;
        display: inline-block;
      }
    }
    .cmtlib-item {
      font-family: $f_blk;
      font-size: 14px;
      color: $noir;
      -webkit-user-select: none;
      user-select: none;
      display: inline-block;
      text-decoration: underline;
      padding: 5px 10px;
      border-radius: 3px;
      background-color: $blanc-fonce;
    }
    .heures {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
    }
    .next-schedule {
      font-family: $f_med;
      color: $noir;
      font-size: 25px;
      width: 100%;
      flex-shrink: 0;
      flex-basis: 100%;
      text-align: center;
    }
    .picker-dots {
      width: 50px;
      height: 200px;
      line-height: 200px;
      font-family: $f_med;
      color: $noir;
      font-size: 50px;
      text-align: center;
    }
    .picker-hrs,
    .picker-min {

      .pck-up {
        width: 80px;
        height: 50px;
        background-image: url('../../images/ico_arrow-up.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px auto;
      }
      .pck-down {
        width: 80px;
        height: 50px;
        background-image: url('../../images/ico_arrow-down.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px auto;
      }
      .dummy-up,
      .dummy-down {
        width: 80px;
        height: 50px;
      }
      .pck-val {
        font-family: $f_med;
        color: $noir;
        font-size: 50px;
        user-select: none;
      }
      .pck-wrapper {
        height: 100px;
        width: 80px;
        overflow: hidden;
        background-color: $bleu;
        border-radius: 10px;
      }
      ul {
        list-style: 0;
        padding: 0;
        margin: 0;
        // &.decal-0 {
        //   margin-top: 0;
        // }
        // &.decal-1 {
        //   margin-top: -100px;
        // }
        @for $i from 0 through 24 {
          &.decal-#{$i} {
            margin-top: $i * -100px;
          }
        }
      }
      li {
        list-style: none;
        padding: 0;
        margin: 0;
        height: 100px;
        width: 80px;
        text-align: center;
        line-height: 100px;
        &.active {
          font-weight: bold;
        }
      }

    }
  }
  .footer {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    .suppr {
      background-color: $rouge;
      width: 45%;
      min-height: 30px;
      .StdButton-text {
          font-family: $f_blk;
          font-size: 14px;
          text-transform: uppercase;
      }
    }
    .save {
        background-color:$vert;
        width: 45%;
        min-height: 30px;
        .StdButton-text {
            font-family: $f_blk;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
  }
}