.Footer {
    position: fixed;
    padding: 0 25px 0 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height;
    background-color: $blanc;

    background: linear-gradient(90deg, #3366CC 0%, #3366CC 30%, #FFFFFF 30%, #FFFFFF 70%, #CC0000 70%);
    background-size: 100% 4px;
    background-repeat: no-repeat;
    background-position: center bottom;

    &.sequence-error,
    &.integrite-error {
        background-color: #ffd000;
    }

    .errors {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        margin-top: -18px;
        height: 55px;
        padding-left: 10px;
        font-size: 13px;
        font-family: $f_hea;
        color: $blanc;
        span {
            border-radius: 12px;
            background-color: $rouge;
            padding: 3px 10px;
            margin: 2px 0;

        }
    }

    font-family: $f_med;
    font-size: 16px;
    color: $noir;
    letter-spacing: 0;
    @include font-smoothing(on);
    .connexion {
        text-transform: capitalize;
        height: 23px;
        user-select: none;
        &:before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            margin-right: 13px;
            box-shadow: inset 0 0 0 2px $rouge;
            background-position: center;
            background-repeat: no-repeat;
        }
        &.on:before {
            box-shadow: inset 0 0 0 2px $vert;
        }
        &.authorized:before {
            background-image: radial-gradient($vert 0%, $vert 35%, transparent 45% );
        }
        &.blocked:before {
            background-image: radial-gradient($rouge 0%, $rouge 35%,  transparent 45% );
        }
        &.pending:before {
            background-image: radial-gradient($rouge 40%, white 40% );
        }
        &:hover .top {
            visibility:visible; opacity:1;
        }
        .top {
            min-width:200px; 
            position:absolute;
            bottom: 100%;
            padding:10px 20px;
            color:#EEEEEE;
            background-color:#777777;
            font-weight:normal;
            font-size:13px;
            border-radius:8px;
            
            z-index:99999999;
            box-sizing:border-box;
            box-shadow:0 1px 8px rgba(0,0,0,0.5);
            visibility:hidden; opacity:0; transition:opacity 0.8s;
        }
        span {
            vertical-align: baseline;
        }
    }
    .build-version {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: $f_med;
        color: $gris;
        font-size: 10px;
        user-select: none;
    }
    .date {
        display: inline-block;
        padding-right: 50px;
        user-select: none;
    }
    .heure {
        display: inline-block;
        user-select: none;
    }
    .logout {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 50px;
        user-select: none;
    }
    .right {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        user-select: none;
    }
}