.Footer {
    position: fixed;
    padding: 0 25px 0 23px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height;
    background-color: $blanc;
    font-family: $f_med;
    font-size: 16px;
    color: $noir;
    letter-spacing: 0;
    @include font-smoothing(on);
    .connexion {
        text-transform: capitalize;
        height: 23px;
        user-select: none;
        &:before {
            content: '';
            display: inline-block;
            width: 16px;
            height: 16px;
            border-radius: 8px;
            margin-right: 13px;
            box-shadow: inset 0 0 0 2px $rouge;
        }
        &.on:before {
            box-shadow: inset 0 0 0 2px $vert;
        }
        span {
            vertical-align: baseline;
        }
    }
    .build-version {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        font-family: $f_med;
        color: $gris;
        font-size: 10px;
        user-select: none;
    }
    .date {
        display: inline-block;
        padding-right: 50px;
        user-select: none;
    }
    .heure {
        display: inline-block;
        user-select: none;
    }
    .logout {
        display: inline-block;
        width: 24px;
        height: 24px;
        margin-left: 50px;
        user-select: none;
    }
    .right {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        user-select: none;
    }
}