.ImpressionTicket, 
.LivreursModal {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  .Modal-container {
      background-color: $blanc;
      width: 500px;
      border-radius: 15px;
      padding: 0 20px;
  }
  .close-button {
      background-color: $blanc;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      min-height: 30px;
  }
  .header {
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
          font-family: $f_blk;
          font-size: 18px;
          color: $noir;
          text-align: center;
          text-transform: uppercase;
      }
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    .ticket {
        background-color:$gris-bleu;
        width: 45%;
        min-height: 45px;
        .StdButton-text {
            font-family: $f_blk;
            font-size: 18px;
            text-transform: uppercase;
        }
    }
  }
}

.LivreursModal {
    .livreur {
        width: 100%;
        background-color: $gris;
        &.livreur-none {
            background-color: $rouge
        }
        &.activated {
            background-color: $primary;
            .StdButton-text:before {
                content: '';
                display: inline-block;
                background-image: url('../../images/ico_check-blanc.svg');
                background-repeat: no-repeat;
                background-size: 18px 18px;
                background-position: left center;
                width: 25px;
                height: 18px;
            }
        }
    }
}