.ListeCommandes {
  .caption {
    font-family: $f_blk;
    font-size: 18px;
    color: $noir;
    letter-spacing: 0;
  }
  .dates {
    display: flex;
    align-items: center;
    .MuiFormControl-marginNormal {
      margin: 0 10px;
      width: 200px;
      &:hover .MuiInput-underline:before,
      &:hover .MuiInput-underline:after,
      .MuiInput-underline:before,
      .MuiInput-underline:after {
        border: 0;
      }
      .MuiInput-formControl {
        background-color: $blanc;
        border-radius: 2px;
        padding: 2px 0px 2px 5px;
      }
      input {
        color: $primary;
        font-family: $f_blk;
        font-size: 18px;
        text-align: center;
      }
    }
  } // --- /.dates


  .panel {
    height: calc(100% - 25px);
    .MuiBox-root {
      height: 100%;
    }
    .table-cont {
      height: 100%;
    }
  }
  .listes {
    margin-top: 10px;
    height: calc(100% - 80px);


    .search-input {
      position: absolute;
      right: 30px;
      top: 120px;
      outline: none;
      opacity: 0;
      user-select: none;
    }

    header {
      box-shadow: none;
      background-color: transparent;
      flex-direction: row;
      justify-content: space-between;
      .MuiButtonBase-root {
        font-family: $f_hea;
        font-size: 18px;
        background-color: $gris-clair;
        border-radius: 15px 15px 0 0;
        color: $noir;
        margin-right: 2px;
        padding: 8px 25px;
        &.Mui-selected {
          background-color: $blanc;
          color: $primary;
          font-family: $f_blk;
        }
      }
      .MuiTabs-fixed {
        width: auto;
      }
      .MuiTabs-indicator {
        background-color: transparent;
      }
      .MuiTabs-flexContainer {
        display: inline-flex;
      }
      .MuiBadge-badge {
        top: 5px !important;
        right: -10px !important;
      }
      .displayId {
        height: 40px;
        background-color: $blanc;
        padding-left: 20px;
        width: 280px;
        input {
          height: 40px;
          width: 200px;
          margin-top: 0;
          font-size: 15px;
          font-family: $f_hea;
          letter-spacing: 0;
        }
        .innerButton {
          height: 40px;
          &.btn-keyboard {
            background-image: url('./../../images/numberkeyboard.svg');
          }
        }
      }
    }


    .MuiTypography-root {
      height: 100%;
      background-color: $blanc;
      border-radius: 0 0 15px 15px;
    }

    .liste-actions {
      width: 350px;
      padding-right: 3px;
    }
    .MuiTableCell-root {
      font-family: $f_med;
      border: none;
    }
    .MuiTableCell-stickyHeader {
      background-color: $gris-clair;
    }
    thead {
      background-color: $noir_010;
    }
    tbody {
      .liste-date,
      .liste-numero,
      .liste-client {
        background-color: $blanc-fonce;
      }
      .MuiTableRow-root.odd {
        .liste-date,
        .liste-numero,
        .liste-client {
          background-color: $gris-pale;
        }
      }
      .liste-heure,
      .liste-montant,
      .liste-actions {
        background-color: $blanc;
      }
      .MuiTableRow-root.odd {
        .liste-heure,
        .liste-montant,
        .liste-actions {
          background-color: $blanc-fonce;
        }
      }
      .MuiTableRow-root:not(.color-0) {
        
        .liste-heure,
        .liste-montant,
        .liste-actions,
        .liste-date,
        .liste-numero,
        .liste-client {
          background-image: linear-gradient(rgba(0, 174, 255, 0.5) 0%, rgba(0, 174, 255,0.5) 100%);
        }
      }

      .liste-actions {
        text-align: right;
      }
    }

    .StdButton {
      margin: 0 2px !important;
      padding: 0 10px!important;
      min-width: 40px;
      min-height: 25px;
      border-radius: 8px !important;
    }
    .StdButton-text {
      text-transform: uppercase;
      font-size: 12px;
      font-family: $f_blk;
    }
    .StdButton-icon {
      height: 17px;
      width: 16px;
      svg {
        width: 16px;
        height: 17px;
      }
    }

    .action-encaissement {
      background-color: $prairie;
    }
    .action-annuler {
      background-color: $rouge;
    }
    .action-reprise {
      background-color: $primary;
    }
  } // --- /.listes
}

@import './ImpressionTicketPopin';