.MenuItemModal {


  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  .Modal-container {
      background-color: $blanc;
      width: 500px;
      border-radius: 15px;
      padding: 0 20px;
  }
  .close-button {
      background-color: $blanc;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      min-height: 30px;
  }
  .header {
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
          font-family: $f_blk;
          font-size: 18px;
          color: $noir;
          text-align: center;
          text-transform: uppercase;
      }
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;

    .item-nom {
      width: 100%;
      text-align: center;
      font-family: $f_hea;
      font-size: 18px;
      color: $noir;
      padding-bottom: 20px;
    }
    .form-group {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding-bottom: 10px;
      width: 100%;
      .label {
        font-family: $f_boo;
        font-size: 14px;
        color: $noir;
        padding-right: 10px;
        -webkit-user-select: none;
        user-select: none;
        display: inline-block;
      }
      .valeur-input {
        input {
          text-align: right;
        }
        .input-wrapper {
          width: 120px;
        }
      }
      .caption {
        font-family: $f_boo;
        font-size: 13px;
        width: 100%;
        text-align: right;
        color: $noir;
        -webkit-user-select: none;
        user-select: none;
        display: inline-block;
      }
    }
    .cmtlib-item {
      font-family: $f_blk;
      font-size: 14px;
      color: $noir;
      -webkit-user-select: none;
      user-select: none;
      display: inline-block;
      text-decoration: underline;
      padding: 5px 10px;
      border-radius: 3px;
      background-color: $blanc-fonce;
    }
    .color-label {
      display: inline-block;
      padding-right: 10px;
    }

    .color {
      display: inline-flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;


      .MuiFilledInput-root {
        border-radius: 5px;
        background-color: $blanc-fonce;
        &.MuiFilledInput-underline:before {
          display: none;
        }
      }
      .MuiFilledInput-input {
        padding: 5px 32px 0px 12px;
        font-family: $f_hea;
      }
    }


    .form-group.asproduct {
      label {
        font-family: $f_boo;
        font-size: 14px;
        color: $noir;
        -webkit-user-select: none;
        user-select: none;
      }
    }

    // .MuiButtonBase-root {
    //   font-family: $f_hea;
    //   font-size: 18px;
    //   background-color: $gris-clair;
    //   border-radius: 15px 15px 0 0;
    //   color: $noir;
    //   margin-right: 2px;
    //   padding: 8px 25px;
    //   &.Mui-selected {
    //     background-color: $blanc;
    //     color: $primary;
    //     font-family: $f_blk;
    //   }
    // }
    // .MuiTabs-fixed {
    //   width: auto;
    // }
    // .MuiTabs-indicator {
    //   background-color: transparent;
    // }
    // .MuiTabs-flexContainer {
    //   display: inline-flex;
    // }
  }
  .footer {
      text-align: right;
    .save {
        background-color:$vert;
        width: 45%;
        min-height: 30px;
        .StdButton-text {
            font-family: $f_blk;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
  }
}
.ClavierMenuItem {
    .MuiDrawer-paperAnchorBottom {
        right: auto;
        left: 50%;
        width: 250px;
        transform: translateX(-50%);
    }
}