.Utilisateurs {
    

  div {
    box-sizing: content-box;
  }

  &.subcontent {

    display: inline-flex;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
    padding: 15px;

    background-color: $blanc;
    border-radius: 15px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.10);



    header {
        box-shadow: none;
        background-color: transparent;
        .MuiButtonBase-root {
          font-family: $f_hea;
          font-size: 18px;
          background-color: $gris-clair;
          border-radius: 15px 15px 0 0;
          color: $noir;
          margin-right: 2px;
          padding: 8px 25px;
          &.Mui-selected {
            background-color: $blanc;
            color: $primary;
            font-family: $f_blk;
          }
        }
        .MuiTabs-indicator {
          background-color: transparent;
        }
      }

    .MuiTableCell-stickyHeader {
        background-color: transparent;
    }
    .MuiTableCell-root {
        font-family: $f_med;
        border: none;
        &.MuiTableCell-head {
            font-family: $f_hea;
        }
    }

    thead {
        background-color: $noir_010;
    }
    .liste-passe {
        width: 200px;
        text-align: center;
    }
    .liste-droits {
        width: 100px;
        text-align: center;
    }
    tbody {
        .liste-nom {
            text-transform: capitalize;
            text-decoration: underline;
            
            div {
                cursor: pointer;
                display: inline-flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
            }
            &.user-disabled {
              color: $rouge;
            }
            .delivery {
              margin-left: 10px;
              margin-right: 20px;
            }
        }
        .odd {
            background-color: $noir_005;
        }
    }

    .subttl {
        font-family: $f_blk;
        font-size: 18px;
        padding: 10px 0;
    }
    .adduser-button {
        background-color: $primary;
        position: absolute;
        right: 60px;
        width: 30px;
        height: 30px;
        min-height: 30px;
    }
    .export {
      background-color: $primary;
      .StdButton-text {
        color: $blanc;
      }
    }
    .table-wrapper {
        width: 100%;
        height: calc(100% - 80px);
        overflow-y: auto;
        margin-bottom: 10px;
        border-radius: 5px;
        box-shadow: 0 0 0 3px $noir_010;

        background: linear-gradient($blanc-fonce 0%, $blanc-fonce 100%), linear-gradient($blanc-fonce 0%, $blanc-fonce 100%);
        background-repeat: no-repeat;
        background-size: calc(100% - 300px) 100%, 100px 100%;
        background-position: 0 0, 100% 0;
    }


    .droits-btn {
      .PillButton-text {
        font-family: $f_hea;
        font-size: 12px;
      }
      height: 25px;
      line-height: 25px;
      background-color: transparent;
      border: none;
      box-shadow: none;
    }

  }

  .staffmeal {
    .subttl {
      width: 100%;
      display: block;
    }
    .staffmeal-activation {
      width: 50%;
    }

    .staffmeal-modifier {
      width: 50%;
      text-align: right;
    }
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    .switch-container {
      min-width: 200px;
      padding: 0 0 10px 10px;
      label {
        position: relative;
        user-select: none;
        left: 75%;
      }
      label+label {
        font-family: $f_med;
        font-size: 14px;
        color: $noir;
        position: absolute;
        left: auto;
      }
    }
  }

}