
.EditUserModal {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  &.with-clavier {
    top: calc(50% - 145px);
    height: calc(100% - 320px);
  }
  .Modal-container {
      background-color: $blanc;
      width: 500px;
      height: 100%;
      border-radius: 15px;
      padding: 0 20px;
  }
  .close-button {
      background-color: $blanc;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      min-height: 30px;
  }
  .header {
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
          font-family: $f_blk;
          font-size: 18px;
          color: $noir;
          text-align: center;
          text-transform: uppercase;
      }
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
    height: calc(100% - 105px);
    overflow-y: auto;

    .droits-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 10px 15px 0 0px;
    }
    .first {
      padding: 0 !important;
      width: 100% !important;
    }

    .subttl {
        font-family: $f_blk;
        font-size: 18px;
        padding: 10px 40px 10px 0;
       // width: 100%;
        display: inline-block;
        cursor: pointer;
        background-image: url('./../../images/ico_switch-on.svg'); 
        &.allchecked {
          background-image: url('./../../images/ico_switch-off.svg'); 
        }
        background-repeat: no-repeat;
        background-size: 24px 24px;
        background-position: right center;
        user-select: none;

    }
    .sep {
      width: 100%;
    }
    .switch-container {
      width: 45%;
      padding: 0 0 10px 10px;
      label {
        font-family: $f_med;
        position: relative;
        user-select: none;
      }
      label+label {
        font-family: $f_med;
        font-size: 14px;
        color: $noir;
      }
    }
    .switch-container.labelleft {
      label {
        left: 70%;
      }
      label+label {
        position: absolute;
        left: auto;
      }
    }

    .labelledfield {
        width: calc(50% - 20px);
        label {
            display: block;
        }
        .input-wrapper {
            width: 100%;
        }
        padding-bottom: 15px;
        &.erreur {
          label,
          .labelledfield-field {
            color: $rouge;
          }
          .input-wrapper {
            box-shadow: inset 0 0 0 1px $rouge;
          }
        }
    }
    .status-zone {
     // width: 100%;
    }
    .status.switch-container {
      justify-content: flex-start;
      label+label {
        margin-left: 15px;
        font-family: $f_blk;
        $font-size: 16px;
      }
    }
    .livreur.switch-container {
      justify-content: flex-start;
      label+label {
        margin-left: 15px;
        font-family: $f_blk;
        $font-size: 16px;
      }
    }

  }
  .footer{
      background-color: $blanc;
      background-image: linear-gradient($gris 0%, $gris 100%);
      background-size: 100% 1px;
      background-repeat: no-repeat;
      background-position: center 3px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    .suppr {
        background-color:$rouge;
        width: 45%;
        min-height: 30px;
        .StdButton-text {
            font-family: $f_boo;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
    .save {
        background-color:$vert;
        width: 45%;
        min-height: 30px;
        .StdButton-text {
            font-family: $f_blk;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
  }
}


.Parametres-Utilisateurs-Popper {

    .popper-cont {
      font-family: $f_boo;
      font-size: 14px;
      padding: 10px 10px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    
  }
}