
.EditTypeModal,
.CommentaireEditModal,
.DiscountEditModal {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  .Modal-container {
      background-color: $blanc;
      width: 500px;
      border-radius: 15px;
      padding: 0 20px;
  }
  .close-button {
      background-color: $blanc;
      position: absolute;
      top: -10px;
      right: -10px;
      width: 30px;
      height: 30px;
      min-height: 30px;
  }
  .header {
      height: 55px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .title {
          font-family: $f_blk;
          font-size: 18px;
          color: $noir;
          text-align: center;
          text-transform: uppercase;
      }
  }
  .body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;


    .labelledfield {
        width: calc(50% - 20px);
        label {
            display: block;
        }
        .input-wrapper {
            width: 100%;
        }
        padding-bottom: 15px;
    }

  }
  .footer{
      text-align: right;
    .save {
        background-color:$vert;
        width: 45%;
        min-height: 30px;
        .StdButton-text {
            font-family: $f_blk;
            font-size: 14px;
            text-transform: uppercase;
        }
    }
  }
}

.CommentaireEditModal,
.DiscountEditModal {
    .edit-zone {
        width: 100%;
    }
    .editnom-input,
    .edit-input {
        width: 100% !important;
    }
}
.DiscountEditModal {
    .edit-input .labelledfield-field { 
        text-align: right;
    }
    .editnom-input .labelledfield-field { 
        text-align: left;
    }
}
.ClavierParamCmdDiscount {
    .MuiDrawer-paperAnchorBottom {
        right: auto;
        left: 50%;
        width: 250px;
        transform: translateX(-50%);
    }
}