.subcontent {
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
    height: 100%;
    width: calc(100% - 230px);
    vertical-align: top;


    font-family: $f_boo;
    font-size: 30px;
    text-align: center;
}

.Parametres {
    @import "Parametres-Commandes";
    @import "Parametres-Entreprise";
    @import "Parametres-Utilisateurs";
    @import "Parametres-Financier";
    @import "Parametres-Peripheriques";
    @import "Parametres-Tables";
    @import "Parametres-Options";
}
@import "Parametres-Commandes-TypeModal";
@import "Parametres-Utilisateurs-UserModal";
@import "Parametres-Peripheriques-Modal";
@import "Parametres-Tables-Modal";
