.Statistiques {

  .MainZone {
    height: calc(100% - 100px);
  }
  .liste-header {
    height: 75px;
    align-items: center;
  }
  .caption {
    font-family: $f_blk;
    font-size: 18px;
    color: $noir;
    letter-spacing: 0;
    text-transform: uppercase;
  }
  .dates {
    display: inline-flex;
    align-items: center;
    .MuiFormControl-marginNormal {
      margin: 0 10px;
      width: 200px;
      &:hover .MuiInput-underline:before,
      &:hover .MuiInput-underline:after,
      .MuiInput-underline:before,
      .MuiInput-underline:after {
        border: 0;
      }
      .MuiInput-formControl {
        background-color: $blanc;
        border-radius: 2px;
        padding: 2px 0px 2px 5px;
      }
      input {
        color: $primary;
        font-family: $f_blk;
        font-size: 18px;
        text-align: center;
      }
    }
    button {
      background-color: transparent !important;
      border-radius: 0;
      padding: 0 5px !important;
    }
  } // --- /.dates
  .shortcuts {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
    .shortcut {
      width: 105px !important;
      height: 30px;
      &.shortcut-jour {
        background-color: $gris-bleu;
      }
      &.shortcut-semaine {
        background-color: $gris-bleu;
      }
      &.shortcut-mois {
        background-color: $gris-bleu;
      }
    }
  }
  .panel {
    height: calc(100% - 25px);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $blanc;
    border-radius: 15px;
  }
  .listes {
    margin-top: 10px;
    height: calc(100% - 80px);

    header {
      box-shadow: none;
      background-color: transparent;
      &.MuiAppBar-root {
        flex-direction: row;
        justify-content: space-between;
      }
      .MuiButtonBase-root {
        font-family: $f_hea;
        font-size: 18px;
        background-color: $gris-clair;
        border-radius: 15px 15px 0 0;
        color: $noir;
        margin-right: 2px;
        padding: 8px 25px;
        &.Mui-selected {
          background-color: $blanc;
          color: $primary;
          font-family: $f_blk;
        }
      }
      .MuiTabs-indicator {
        background-color: transparent;
      }
    }

    .MuiTab-root {
      min-width: 60px !important;
    }

    .MuiTypography-root {
      height: 100%;
      background-color: $blanc;
      border-radius: 0 0 15px 15px;
    }

    .liste-actions {
      width: 350px;
      padding-right: 3px;
    }
    .MuiTableCell-root {
      font-family: $f_med;
      border: none;
    }
    .MuiTableCell-stickyHeader {
      background-color: $gris-clair;
    }
    thead {
      background-color: $noir_010;
    }
    tbody {
      .liste-date,
      .liste-numero,
      .liste-client {
        background-color: $blanc-fonce;
      }
      .MuiTableRow-root.odd {
        .liste-date,
        .liste-numero,
        .liste-client {
          background-color: $gris-pale;
        }
      }
      .liste-heure,
      .liste-montant,
      .liste-actions {
        background-color: $blanc;
      }
      .MuiTableRow-root.odd {
        .liste-heure,
        .liste-montant,
        .liste-actions {
          background-color: $blanc-fonce;
        }
      }

      .liste-actions {
        text-align: right;
      }
    }
    .zonebtn {
      width: 100%;
      height: 80px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 15px;
    }

    .zonecharts {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      height: calc(100% - 120px);
      padding: 0 15px;
      .chartblock {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        .chart-titre {
          font-family: $f_hea;
          font-size: 14px;
          color: $noir;
          text-align: center;
          text-transform: uppercase;
        }
        width: calc(50% - 20px);
        height: calc(50% - 10px);
        border-radius: 10px;
        box-shadow: inset 0 0 0 5px $noir;
        .chartcont {
          height: 145px;
          width: calc(100% - 20px);
          &.chart-doughnut {
            width: 250px;
          }
        }
      }
    }

    .CanalChart {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%;
      .canal-item {
        display: table-row;
        margin-bottom: 5px;
        height: 26px;
        .tracker {
          display: table-cell;
          height: 24px;
          line-height: 22px;
          width: 100%;
          border-radius: 12px;
          border: 1px solid $noir;
          text-align: left;
          padding-left: 7px;
          color: $noir;
          font-family: $f_blk;
          font-size: 12px;
          position: relative;
          .jauge {
            position: absolute;
            top: 2px;
            left: 2px;
            height: 18px;
            border-radius: 10px;
            text-align: left;
            padding: 5px;
            color: $blanc;
            font-family: $f_blk;
            font-size: 12px;
            line-height: 7px;
            overflow-x: hidden;
            white-space: nowrap;
          }
        }
        .nom {
          display: table-cell;
          font-family: $f_hea;
          font-size: 14px;
          text-transform: capitalize;
          color: $noir;
          padding-left: 10px;

        }
      }
    }
    .MoyenChart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      .items {
        width: 70%;
      }
      .moyen-item {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 20%;
        height: 100%;
        text-align: center;
        background-image: linear-gradient($noir 0%, $noir 100%);
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-position: 0px calc(100% - 19px);
        .tracker {
          display: inline-block;
          width: 24px;
          height: calc(100% - 22px);
          border-radius: 12px 12px 0 0;
          background-color: $blanc-fonce;
          position: relative;
          .jauge {
            position: absolute;
            bottom: 0;
            left: 2px;
            width: calc(100% - 4px);
            border-radius: 10px 10px 0 0;
            background-image: radial-gradient($blanc 0%, $blanc 50%, transparent 51%, transparent 100%);
            background-repeat: no-repeat;
            background-position: center 2px;
            background-size: 16px 16px;
          }
        }
        .nom {
          height: 20px;
          line-height: 26px;
          font-family: $f_hea;
          font-size: 12px;
          color: $noir;
        }
      }
      .legende {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .moyen-legende {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          .spot {
            width: 10px;
            height: 10px;
            margin-right: 10px;
          }
          .nom {
            display: table-cell;
            font-family: $f_hea;
            font-size: 14px;
            color: $noir;
            text-align: left;
          }
        }
      }
    }
    .ModeChart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      .items {
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
      }
      .mode-item {
        display: inline-flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        width: 25%;
        height: 100%;
        text-align: center;
        background-image: linear-gradient($noir 0%, $noir 100%);
        background-repeat: no-repeat;
        background-size: 100% 1px;
        background-position: 0px calc(100% - 7px);
        .tracker {
          display: inline-flex;
          flex-direction: column;
          justify-content: space-between;
          background-repeat: no-repeat;
          align-items: center;
          background-size: 3px 100%;
          background-position: center top;
          position: relative;
          min-height: 20px;
          .jauge {
            border-radius: 50%;
            font-family: $f_blk;
            font-size: 11px;
            color: $blanc;
            min-width: 24px;
            min-height: 24px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
          }
          .point {
            display: block;
            width: 14px;
            height: 14px;
            border-radius: 50%;
          }
        }
      }
      .legende {
        display: flex;
        flex-direction: column;
        justify-content: center;
        .mode-legende {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          .spot {
            width: 10px;
            height: 10px;
            margin-right: 10px;
          }
          .nom {
            display: table-cell;
            font-family: $f_hea;
            font-size: 14px;
            color: $noir;
            text-align: left;
          }
        }
      }
    }

    .StdButton {
      margin: 0 2px !important;
      padding: 0 10px!important;
      min-width: 40px;
      min-height: 25px;
      border-radius: 8px !important;
      width: 200px;
    }
    .StdButton-text {
      text-transform: uppercase;
      font-size: 16px;
      font-family: $f_hea;
      text-align: center;
      line-height: 20px;
      padding: 5px;
    }
    .StdButton-icon {
      height: 17px;
      width: 16px;
      svg {
        width: 16px;
        height: 17px;
      }
    }

    .action-ca {
      background-color: $rouge;
    }
    .action-nbrcmd {
      background-color: $royal;
    }
    .action-cart {
      background-color: $orange;
    }
    .action-tpscmd {
      background-color: $prairie;
    }
  } // --- /.listes


.fakeimg {
  padding-top: 10px;
  height: 410px;
  align-self: center;
}
.zonedeclic {
  background-color: transparent;
  border-radius: 15px;
  cursor: pointer;
  width: 25%;
  height: 25%;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

}