html,
body,
body.swal2-height-auto {
  height: 100% !important;
  width: 100%; }

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

#root {
  height: 100%; }
